:root {
  --main-text: #757575;
  --text-title: #212121;
  --text-accent: #2196f3;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --grey-bg-color: #f5f4fa;
}

/* common styles */
body {
  color: var(--main-text);
  background-color: var(--main-bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #000000;
}

.logo-start {
  color: var(--text-accent);
}

.logo-end {
  color: var(--main-bg-color);
}
.logo:hover {
  color: var(--text-accent);
}

.site-nav .link {
  color: var(--text-title);
}

.contact a {
  color: var(--main-text);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-accent);
}

.contact a:hover,
.contact a:focus {
  color: var(--text-accent);
}

.address .link-address {
  color: var(--main-bg-color);
}

.address .link {
  color: rgba(255, 255, 255, 0.8);
}

footer {
  background-color: var(--secondary-bg-color);
}

.address a:hover,
.address a:focus {
  color: var(--text-accent);
}

/* main page */

.features a {
  color: var(--text-title);
}

.features .current {
  color: var(--text-accent);
}
