:root {
  --main-text: color #757575;
  --text-title: color #212121;
  --text-accent: color #2196f3;
  --main-bg-color: color #ffffff;
  --secondary-bg-color: color #2f303a;
  --grey-bg-color: color #f5f4fa;
}

body {
  color: #757575;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #000000;
}

.logo-start {
  color: #2196f3;
}

.logo-end {
  color: #ffffff;
}
.logo:hover {
  color: #2196f3;
}

.site-nav .link {
  color: #212121;
}

.contact a {
  color: #757575;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.contact a:hover,
.contact a:focus {
  color: #2196f3;
}

.section-title {
  color: #212121;
}

.address .link-address {
  color: #ffffff;
}

.address .link {
  color: rgba(255, 255, 255, 0.8);
}

.hero {
  background-color: #2f303a;
  color: #ffffff;
}

button {
  background-color: #2196f3;
  color: #ffffff;
}

footer {
  background-color: #2f303a;
}
